*{
    margin: 0;

}
body{
    height: 100%;
    width: 100%;
    background-color: rgb(41, 38, 49);
    color: rgb(255, 255, 255);
}
header{
    width: 100%;

}
.section-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
}
.section-one h2{
    font-size: 50px;
    color: aqua;
}
.section-one h3{
    font-size: 38px;
}
.section-two{
    background-color: rgb(28, 28, 48);
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.section-two ul{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.section-three{
    height: 600px;
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    
}
.section-four{
    display: flex;
    height: 400px;
    padding-bottom: 50px;
    background-color: rgb(20, 20, 20);

}
.div3-1{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.div3-1 div{
    display: flex;
    gap: 0,5rem;
    padding-top: 20px;
}
.div3-2{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
}